.search {
    margin: 0 auto;
    &__input {
        margin-top: 20px;
        border: 1px solid #000;
        border-radius: 50px;
        width: 30%;
        padding: 15px 20px;
        border-radius: 20px;
        font-size: 20px;
    }
}
